<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Albumtitle:</strong>
  <%= @song.albumtitle %>
</p>

<p>
  <strong>Prodyear:</strong>
  <%= @song.prodyear %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @song.bpm %>
</p>

<p>
  <strong>Key:</strong>
  <%= @song.scale %>
</p>

<p>
  <strong>Relative:</strong>
  <%= @song.scale_rel %>
</p>

<p>
  <% if @song.bpm > 100 %>
  Fast song
  <% else %>
  Slow song
  <% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
